*{
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
}

.joke {
  width: 500px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  margin: 10px;
}

.joke > p {
  padding-bottom: 10px;
}